<h4>Step 4: When</h4>
<%= f.input :start_date, :as => :string, :input_html => { :class => "datetimepicker" } %>
<%= f.input :end_date, :as => :string, :input_html => { :class => "datetimepicker" }  %>
