.formtastic .input .label {
  display: block;
  width: 25%;
  float: none;
  padding-top: .2em;
}

.label {
  background-color: #F90;
  margin-right: 4px;
  text-align: center;
}


// This class name is awesome
.label-defloater {
  float: none;
}
